* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

header {
  padding: 20px;
  background-color: rgb(40, 66, 211);
  display: flex;
  justify-content: space-between;
}

header h1 {
  padding-left: 20%;
}

header input {
  color: white;
  background-color: rgb(40, 66, 211);
  border: 2px solid rgb(29, 48, 156);
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}

header input:focus {
  outline: none;
}

.movies_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(29, 48, 156);
}

.movie {
  width: 250px;
  height: 400px;
  margin: 1rem;
  background-color: rgb(40, 66, 211);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.movie:hover .movie_description {
  transform: translateY(0%);
}

.movie img {
width: 100%;
max-height: 85%;
}

.movie_information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  font-size: 10px;
}

.movie_information h3 {
  margin: 0;
  color: white;
}

.movie_information span {
  font-weight: bold;
}

.movie_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  transform: translateY(102%);
  transition: transform 0.5s ease-in-out;
  overflow: auto;
  max-height: 100%;
}

.movie_description h2 {
  margin: 10px;
}